codes
res/csd
res/assets
res/Default
res/assets_lib
frameworks/runtime-src/proj.ios_mac/
frameworks/cocos2d-x/build/build/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build/
frameworks/runtime-src/proj.ios_mac/build/
project_baby
project_gold
